html {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 80px;
}
.main-image img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.buttons p {
    font-size: 23px;
    font-weight: bold;
}

.reset {
    text-align: center;
}

.output {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}

button img {
    width: 200px;
}

.choice {
    margin-right: 10px;
}

.water:hover {
    box-shadow: 0 0 3pt 2pt #5a9ca4;
    cursor: pointer;
}

.fire:hover {
    box-shadow: 0 0 3pt 2pt #fe9441;
    cursor: pointer;
}

.grass:hover {
    box-shadow: 0 0 3pt 2pt #5b8f63;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99.50%;  /* Height of the footer */
    text-align: center;
    margin-bottom: 20px;
}

button {
    font-family : inherit;
    font-size: 1em;
}